* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: sticky;
    
}

body {
    font-family: Arial, sans-serif;
   
}

.nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
  
    
}

.containerNav {
    display: flex;
    flex-direction: row; 
   
    
  }

  .menuLateral {
    width: 200px; 
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

.menuSuperior {
    flex: 1; 
    background-color: #ffffff;
    color: white;
  }


.paragraftSystem{
    color: rgb(156, 156, 156);
    padding-top: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;  
    letter-spacing: 1px;
   font-size: 13px;
   margin-bottom: 5px;
   font-style: italic;

}
.logo {
    color: rgb(0, 0, 0);
    font-size: 24px;
}

.logoL {
    display: flex;
    align-self: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding-top: 15%;
    padding-bottom: 5%;
}

.ulLateral {
    display: flex;
    align-items: flex-start; /* Centra verticalmente los elementos */
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listaLateral{
    background-color: rgb(19, 19, 19);
    color: #ffffff;
   
}


.nav-links {
    display: flex;
    list-style: none;
    margin: 0px;
}

.nav-links .listaSuperior {
    margin-left: 20px; 
}

.styled-button{
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    border: none;
    background-color: #ffffff;
}

.styled-button:hover{
  
    border: none;
    background-color: #b5b5b5;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;  
}

.hiddenMenu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hiddenMenu .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 4px 0;
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
        position: sticky;
        top: 60px;
        right: 20%;
        background-color: #ffffff;
        width: 100%;
        flex-direction: column;
    }

    .logo{
        opacity: 0;
    }

    .nav-links.nav-links-active {
        display: flex;
    }

    .nav-links .listaSuperior {
        text-align: center;
        margin: 15px 0;
    }

    .hiddenMenu {
        display: flex;
        align-self: flex-start; 
        
        justify-content: flex-end;    
    }
}
