
.containerTableUsers {
    width: 100%;
    display: grid;
    
}

.tableUsers{
    width: 90%;
    padding-top: 3%;
    padding-left: 10%;
 display: grid;

 align-items: center;



}

.divModal{
    margin-bottom: 1%;
    position: 'relative';
    z-Index: 1;
}

.buttonModal{
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}